.content {
    margin-top: 200px;
    width: 100%;

    .banner {
        text-align: center;

        h1 {
            color: $blue;
            font-size: $base-font-size * 4.5;
        }
        h2 {
            font-size: $base-font-size * 1.7;
            margin: 10px auto;
        }
        p {
            font-size: $base-font-size * 1.4;
            margin: 30px auto;
        }
    }

    .feature {
        margin: 100px 0;

        .device-container {
            margin: 10px auto;
            width: 700px;

            .iphone {
                bottom: 0;
                left: 100px;
                position: relative;
                z-index: 1000;
            }
            .ipad {
                bottom: 0;
                left: 10px;
                position: relative;
                z-index: 999;
            }
        }
    }
}

.page-scrolled {
    .content {
        margin-top: 150px;
    }
}
