footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .content-wrapper {
        margin-top: 20px;
    }

    height: $footer-height;
    background-color: lighten($black, 35%);
    color: lighten($black, 70%);
    text-align: center;
    font-size: $base-font-size * 0.8;

    .social-icon {
        transition: color 0.5s;
        padding: 10px;
        font-size: $base-font-size * 1.5;

        &:hover {
            color: $white;
        }
    }
}
