header {
    background-color: $base-background-color;
    box-shadow: 0 1px 7px lighten($black, 60%);
    box-sizing: border-box;
    height: 120px;
    line-height: 100px;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: height 0.5s;
    width: 100%;
    z-index: 3;

    .logo {
        float: left;

        a {
            float: left;
        }

        img {
            width: 100px;
            height: 100px;
            transition: all 0.5s;
        }

        h1 {
            font-family: $base-font-family;
            font-size: $base-font-size * 4;
            text-decoration: none;
            margin-left: 10px;
            transition: all 0.5s;
        }
    }

    .line-break {
        display: none;
    }

    nav ul {
        float: right;
        transition: line-height 0.5s;
    }

    nav ul li {
        color: lighten($black, 60%);
        display: inline-block;
        float: left;
        font-size: 17px;
        list-style-type: none;
        letter-spacing: 2px;
        text-align: center;
        transition: margin 0.5s;

        // Link styles
        a {
            text-align: center;
            padding: 10px;
            transition: padding 0.5s;
        }

        &.active a {
             color: $red;
             font-family: $base-bold-font-family;
             letter-spacing: 1.4px;
        }

        // Add a dot between every li.
        &:not(:last-child) {
            margin-right: 15px;

            &:after {
                content: '\00B7';
                font-size: 20px;
                margin-left: 15px;
                transition: margin 0.5s;
            }
        }
    }

    @include respond-to(medium-screens) {
        height: 80px;
        line-height: 60px;

        padding-right: 20px;
        padding-left: 20px;

        .logo {
            img {
                width: 60px;
                height: 60px;
            }

            h1 {
                font-size: $base-font-size * 2.5;
            }
        }

        nav ul li a {
            padding: 5px;
        }
    }

    @include respond-to(small-and-handheld-screens) {
        // Make the header shorter, center everything, and move the nav buttons below the SummationTech "logo"
        height: 100px;
        line-height: 45px;
        padding: 5px;
        text-align: center;

        .logo {
            float: none;
            display: inline-block;
            margin-bottom: -35px;

            img {
                float: none;
                width: 45px;
                height: 45px;
            }

            h1 {
                font-size: $base-font-size * 2.5;
                text-align: center;
            }
        }

        .line-break {
            display: inline;
        }

        nav {
            display: inline-block;

            ul {
                float: none;
                clear: both;

                // Reduce the space between the menu items
                li a {
                    padding: 5px;
                }
            }
        }
    }

    @include respond-to(handhelds) {
        .logo h1 {
            font-size: $base-font-size * 2;
        }

        nav ul li {
            a {
                padding: 7px 3px;
            }

            &:not(:last-child) {
                margin-right: 0;

                &:after {
                    margin-left: 0;
                }
            }
        }
    }

    // On large screens, adjust the height of the header when the page is scrolled
    @include respond-to(wide-screens) {
        .page-scrolled & {
            height: 80px;
            line-height: 60px;

            .logo {
                img {
                    width: 60px;
                    height: 60px;
                }
    
                h1 {
                    font-size: $base-font-size * 2.5;
                }
            }
        }
    }
}
