header {
    background-color: $base-background-color;
    box-shadow: 0 1px 7px lighten($black, 60%);
    box-sizing: border-box;
    height: 140px;
    line-height: 120px;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: height 0.5s;
    width: 100%;
    z-index: 2;

    .logo {
        float: left;
        font-size: $base-font-size * 5;
        text-decoration: none;
        transition: font 0.5s, line-height 0.5s;
    }

    nav ul {
        float: right;
        transition: line-height 0.5s;
    }

    nav ul li {
        color: lighten($black, 60%);
        display: inline-block;
        float: left;
        font-size: 17px;
        list-style-type: none;
        letter-spacing: 2px;
        text-align: center;
        transition: margin 0.5s;

        // Link styles
        a {
            text-align: center;
            padding: 10px;

            &:hover {
                font-family: $base-bold-font-family;
            }
        }

        &.active a, a:hover {
             color: $red;
             font-family: $base-bold-font-family;
             letter-spacing: 1.4px;
             background-color: lighten($black, 85%);
        }

        // Add a dot between every li.
        &:not(:last-child) {
            margin-right: 15px;

            &:after {
                content: '\00B7';
                font-size: 20px;
                margin-left: 15px;
                transition: margin 0.5s;
            }
        }
    }

    @include respond-to(medium-screens) {
        height: 80px;
        line-height: 60px;

        .logo {
            font-size: $base-font-size * 2.5;
        }
    }

    @include respond-to(small-and-handheld-screens) {
        // Make the header shorter, center everything, and move the nav buttons below the SummationTech "logo"
        height: 100px;
        line-height: 45px;
        padding: 5px;
        text-align: center;

        .logo {
            font-size: $base-font-size * 2.5;
            text-align: center;
            float: none;
        }

        nav {
            display: inline-block;
        }

        // Reduce the space between the menu items
        nav ul {
            float: none;
            clear: both;

            li a {
                padding: 5px;
            }
        }
    }

    @include respond-to(handhelds) {
        nav ul li {
            &:not(:last-child) {
                margin-right: 5px;

                &:after {
                    margin-left: 5px;
                }
            }
        }
    }

    // On large screens, adjust the height of the header when the page is scrolled
    @include respond-to(wide-screens) {
        .page-scrolled & {
            height: 80px;
            line-height: 60px;

            .logo {
                font-size: $base-font-size * 2.5;
            }
        }
    }
}
