extends ./layout.pug

block content
    .banner
        h1 Experience Incredible Apps
        h2 from SummationTech.
        p We build engaging apps with compelling experiences on all your devices.
    .feature
        .device-container
            img(class='iphone', src='resources/images/welcome-screenshot-small-iphone5s.png', alt='PrayNow on iPhone 5s')
            img(class='ipad', src='resources/images/gameplay-screenshot-ipad.png', alt='PrayNow on iPad')
